header {
	height: 50px;
	background-color: #002B5B;
}

main {
    background-color: #F3F3F3;
    width: 100%;
    height: 700px;
}

    #reserve-title {
        width: 450px;
        margin: 0 auto; 
        text-align: center;
        padding-top: 35px;
    }

        #reserve-title > h1 {
            display: inline-block;
            font-family: 'Chosunilbo_myungjo', sans-serif, serif;
            font-size: 2.0em;
            padding-bottom: 25px;
        }

        #reserve-title > p {
            display: inline-block;
            width: auto;
            color: #666666;
            padding-left: 5px;
            font-size: 0.95em;
        }

        #colorBox {
            height: 8px;
            width: inherit;
            margin: 10px auto;
            background: linear-gradient(90deg, #002B5B, #002B5B 8%, #EA5455 8%, #EA5455 18%, #e4dccf 18%, #e4dccf 32%, #F9F5EB 32%, #F9F5EB 68%, #e4dccf 68%, #e4dccf 82%, #EA5455 82%, #EA5455 92%, #002B5B 92%, #002B5B 100%);
        }
        
       tr, td, table {
       		border: 1px solid black;
        }
        	
        td {
        	padding: 15px;
        }
        	
       #map {
       		width: auto;
       		height: auto;
       }
