th {
    border: 2px solid #bbb;
    font-family: 'Chosunilbo_myungjo', sans-serif, serif;
    font-size: 1.2em;
    height: 50px;
    background-color: #002B5B;
    color: #B5B5B5;
}

th:first-child {
    width: 100px;
}

th:nth-child(2){
    width: 700px;
}

th:nth-child(3) {
    width: 125px;
}

th:nth-child(4) {
    width: 125px;
}

th:last-child {
    width: 80px;
}

td {
    border: 2px solid #bbb;
    height: 40px;
}

td:first-child {
    color: #002B5B;
    font-weight: bold;
    font-size: 0.9em;
}

td:nth-child(2){
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
}

#qnaSubject {
	color: #000;
    text-align: left;
    cursor: pointer;
}

td:nth-child(2):hover {
    text-decoration: underline;
    text-decoration-color: #EA5455;
    color: #EA5455;
}

#qnaSubject:hover {
    color: #EA5455;
}

td:nth-child(3) {
	color: #002B5B;
	font-size: 0.9em;
	
}

td:nth-child(4), td:last-child {
    color: #a0a0a0;
    font-size: 0.9em;
}

td:first-child, th:first-child {
	border-left: 0;
}

td:last-child, th:last-child {
	border-right: 0;
}

main {
    background-color: #F3F3F3;
    width: 100%;
/*     height: 890px; */
}

    #qna-title {
        width: 1000px;
        margin: 0 auto; 
        text-align: center;
        padding-top: 100px;
    }

        #qna-title > h1 {
            display: inline-block;
            font-family: 'Chosunilbo_myungjo', sans-serif, serif;
            font-size: 2.5em;
            padding-bottom: 25px;
        }

        #colorBox {
            height: 8px;
            width: inherit;
            margin: 10px auto;
            background: linear-gradient(90deg, #002B5B, #002B5B 8%, #EA5455 8%, #EA5455 18%, #e4dccf 18%, #e4dccf 32%, #F9F5EB 32%, #F9F5EB 68%, #e4dccf 68%, #e4dccf 82%, #EA5455 82%, #EA5455 92%, #002B5B 92%, #002B5B 100%);
        }
        
    /* 작성하기, 검색창  */
	#qna-menu {
        	display: flex;
        	justify-content: space-between;
        	align-items: flex-end;
    }
    
        /* 작성하기 버튼 */
	    #write-qna {
	    	width: inherit;
	    	display: flex;
	    	justify-content: right;    	
	        text-align: center;
	        display: inline-block;
	    }
    
		    #write-qna > button  {
		    	background-color: #002B5B;
		        color: #F3F3F3;
	            width: 80px;
	            height: 25px;
		        margin: 0px;
		        border: 2px solid #002B5B;
		        border-radius: 8px;
		        font-size: 0.9em;
		        cursor:pointer;
		        text-align: center;
		    }

	    /* 검색창 */
	    #search-qna {
	    	display: flex;
	    	justify-content: right;
	    }
	    
	    #search-qna-input {
/* 	    	width: 218px; */
	    	width: 280px;
	    	display: flex;
	    	justify-content: right; 
	        padding-top: 35px;
	        border-bottom: solid 2px #002B5B;
	    }
	    	
	    	#search-qna-input > select {
	    		background-color: #F3F3F3;
	    		border-style: none;
	    		margin-right: 10px;
	    		padding: 0 10px;
	    	}
	    
		    #search-qna-input > input  {
		    	padding: 8px;
		        border-style : none;
		        background-color: #F3F3F3;
		    }
		    
		    #search-qna-icon {
		    	display: flex;
		    	align-items: center;
		    }
		    
		    #search-qna-icon img {
		    	width: 25px;
		    	height: 25px;
		    }
		
		        
    /* Q&A */
    #qna {
        width: 950px;
        margin: 0 auto;
    }

        #qna > table {
            display: flex;
            justify-content: center;
            padding-top: 15px;
            padding-bottom: 50px;
        }
        
        #file-exist {
        	width: 12px;
        }


    /* 페이지 전환 버튼 */
    #page {
        padding-bottom: 60px;
    }

        #page li {
            display: inline-block;
            font-size: 0.9em;
            padding: 10px;
            color: #a0a0a0;
            cursor: pointer;
        }

        #page li:not(li:first-child, li:last-child):hover {
            color: #EA5455;
        }
        
	/* 비어있는 질문 */
	#qna-none {
		height: 470px;
		font-family: 'Chosunilbo_myungjo', sans-serif, serif;
    	font-size: 1.2em;
	    color: #B5B5B5;
	    font-weight: bold;
	}
        
