<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="HanbokMapper">

	<resultMap type="kr.co.gaonnuri.hanbok.domain.Hanbok" id="hanbokResultMap">
		<id		property="rentalNo"  		 column="RENTAL_NO"/>
		<result property="rentalUser"  		 column="RENTAL_USER"/>
		<result property="rentalPlace"  	 column="RENTAL_PLACE"/>
		<result property="rentalDate"   	 column="RENTAL_DATE"/>
		<result property="rentalHanbok"      column="RENTAL_HANBOK"/>
		<result property="rentalTopColor"    column="RENTAL_TOP_COLOR"/>
		<result property="rentalTopSize"     column="RENTAL_TOP_SIZE"/>
		<result property="rentalPantsColor"  column="RENTAL_PANTS_COLOR"/>
		<result property="rentalPantsSize"   column="RENTAL_PANTS_SIZE"/>
		<result property="rentalAccessories" column="RENTAL_ACCESSORIES"/>
		<result property="rentalPrice" 		 column="RENTAL_PRICE"/>
		<result property="makeRentalDate"    column="MAKE_RENTAL_DATE"/>
	</resultMap>
	
	<insert id="insertHanbok">
		INSERT INTO RENTAL_TBL VALUES(SEQ_RENTALNO.NEXTVAL, #{ rentalUser }, #{ rentalPlace }, #{ rentalDate }, #{ rentalHanbok }, #{ rentalTopColor }, #{ rentalTopSize }, #{ rentalPantsColor }, #{ rentalPantsSize }, #{ rentalAccessories, jdbcType=VARCHAR }, #{ rentalPrice }, DEFAULT)
	</insert>
	
	<select id="selectAllRentalsById" resultMap="hanbokResultMap">
		SELECT * FROM RENTAL_TBL WHERE RENTAL_USER = #{ userId } ORDER BY RENTAL_NO DESC
	</select>
	
	<select id="selectRentalByNo" resultMap="hanbokResultMap">
		SELECT * FROM RENTAL_TBL WHERE RENTAL_NO = #{ rentalNo }
	</select>
</mapper>