h2 {
    margin: 10px 0px;
}

span {
    font-family: 'Chosunilbo_myungjo', sans-serif, serif;
}

p {
    width: auto;
}

main {
    background-color: #F3F3F3;
    width: 100%;
    height: auto;
}

    #detail-title {
        width: 1000px;
        margin: 0 auto; 
        text-align: center;
        padding-top: 100px;
    }

        #detail-title > h1 {
            display: inline-block;
            font-family: 'Chosunilbo_myungjo', sans-serif, serif;
            font-size: 2.5em;
            padding-bottom: 25px;
        }

        #colorBox {
            height: 8px;
            width: inherit;
            margin: 10px auto;
            background: linear-gradient(90deg, #002B5B, #002B5B 8%, #EA5455 8%, #EA5455 18%, #e4dccf 18%, #e4dccf 32%, #F9F5EB 32%, #F9F5EB 68%, #e4dccf 68%, #e4dccf 82%, #EA5455 82%, #EA5455 92%, #002B5B 92%, #002B5B 100%);
        }

    /* 상품 옵션 선택, 대여하기 */
    #selected {
        width: 900px;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 130px;
        display: flex;
        justify-content: space-evenly;
    }

        #selected img {
            width: 420px;
            height: 575px;
        }

        #select-option {
            height: auto;
        }

            label {
                display: inline-block;
                width: 295px;
                text-align: left;
                font-weight: bold;
                margin-top: 15px;
                margin-bottom: 3px;
            }
            
            label[for=top-color] {
                margin-top: 0px !important;
            }

            select {
                /* select 화살표 디자인  */
                -webkit-appearance:none; /* for chrome */
                -moz-appearance:none; /*for firefox*/
                appearance:none;
                background-position: calc(100% - 19px) center !important;
                background: url("/resources/img/select-icon.png") no-repeat 97% 50%/15px auto;
                padding: 8px 32px 8px 16px;

                /* select 창 디자인  */
                width: 300px;
                height: 50px;
                margin: 5px;
                padding: 0 20px;
                background-color: #fff;
                border: 2px solid #bbb;
                border-radius: 8px;
                font-size: 0.9em;
                color: #a9a9a9;
            }

                select option{
                    color: #000;
                }

            input {
                width: 255px;
                height: 45px;
                margin: 5px;
                padding: 0 20px;
                border: 2px solid #bbb;
                border-radius: 8px;
                font-size: 0.9em;
            }

            /* 가격 */
            #select-option div:first-of-type {
                display: flex;
                justify-content: space-between;
                margin: 30px 10px;
            }
            
            /* 찜하기, 대여하기 */
            #select-option div {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

                #select-option div > img {
                    width: 35px;
                    height: 35px;
                    cursor:pointer;
                }

                #submit-btn {
                    width: 160px;
                    height: 35px;
                    border: 2px solid #EA5455;
                    border-radius: 100px;
                    color: #EA5455;
                    font-weight: bold;
                    cursor:pointer;
                }

                #submit-btn:hover {
                    background-color: #EA5455;
                    color: #F9F5EB;
                    font-weight: normal;
                }

    /* 상품 상세 설명 */
    #detail {
        width: 900px;
        height: auto;
        margin: 0 auto; 
        padding-bottom: 100px;
        text-align: left;
    }

        #detail > div {
            width: inherit;
            height: inherit;
            background-color: #F6F7F8;
            padding: 30px 50px;
        }

            #detail-img > img:first-child{
                width: 600px;
                height: 400px;
                display: inline-block;
                margin: 20px 0px;
                margin-right: 15px;
            }

            #detail-img > img:last-child{
                width: 280px;
                height: 400px;
                display: inline-block;
                margin: 20px 0px;
            }